
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Millennium Nexus</title>
    <link rel="icon" href="/Images/millennium_eye.png">   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/signin.css" rel="stylesheet">
  </head>
  <body background="Images/ygo_background2.png" class="text-center">
    <form   method="POST" action="/register" class="form-signin">
        <% include ./partials/messages %>
        <img style="height: 50vh;left: -13vw;
        position: relative;" src="Images/yugioh4.png" alt="">
        <h1 class="h3 mb-3 font-weight-normal">Enter information</h1>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="username" name="username" class="form-control mb-3" placeholder="Username" required autofocus>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" name="email" class="form-control mb-3" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" class="form-control mb-3" placeholder="Password" required>
      <label for="inputPassword2" class="sr-only">Password</label>
      <input type="password" name="password2" class="form-control mb-3" placeholder="Repeat Password" required>
  <button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
  <h1 class="h6 mt-3 ">Already registered?</h1>
  <a class="btn btn-lg btn-primary btn-block" href="/">Sign in</a>
  <p class="mt-3 mb-3 text-muted">&copy; 2022</p>
</form>
</body>
</html>
